{#
Default template for floating create button.

parameters:
    - name_create: link to create site
#}
<div class="float-button">
    <a href="{{ name_create }}" >
        <button type="button" class="btn btn-primary btn-floating">
            <span style="line-height: 1.2;">&#43;</span>
        </button>
    </a>
</div>